.div1{
    padding: 20px; color: rgb(0, 132, 255);
    border: 10px; color: rgb(226, 43, 52);
    margin: 20px;
}

.div2{
    padding: 15px; color: rgb(94, 255, 0);
    border: 10px; color: rgb(202, 224, 7);
    margin: 25px;
}