/* 4) გააკეთე ბარათი, რომელიც hover-ზე გადაიხრება 3D ეფექტით (rotateX ან rotateY). */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* ბარათის სტილი */
.card {
    width: 250px;
    height: 300px;
    background-color: #f50000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease; 
    transform-style: preserve-3d; 
}

/*hover*/
.card:hover {
    transform: rotateY(30deg); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.card h3, .card p {
    margin: 0;
    color: #333;
}