/* 8) გააკეთე ბარათი, 
რომელიც hover-ზე გადაბრუნდება და უკანა მხარეს სხვა ინფორმაცია გამოჩნდება (flip card ეფექტი). */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* 3D */
.card-container {
    perspective: 1000px; 
}

/* ბარათი */
.card {
    width: 250px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

/* hover*/
.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-front {
    background-color: white;
}

.card-back {
    background-color: #3498db;
    color: white;
    transform: rotateY(180deg);
}