.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 10px;
  border: 2px solid #333;
  padding: 10px;
  height: 300px;
  align-items: start;
  background: #f1f3f5;
}

.box {
  background: #74c0fc;
  color: white;
  padding: 10px;
  border-radius: 6px;
  width: 80px;
}

.tall {
  height: 120px;
  background: #339af0;
}

.medium {
  height: 80px;
  background: #228be6;
}

.stretch {
  justify-items: stretch;
}