/* start----ელემენტები კონტეინერის დასაწყისში */
/* end----ელემენტები ბოლოში */
/* center------ყველა ელემენტი ცენტრში */
/* space-between------პირველი და ბოლო კიდეებზე, შუალედები */
/* space-around------ელემენტების გარშემო თანაბარი სივრცე */
/* space-evenly-----ყველა სივრცე თანაბარია, კიდეებიც ჩათვლით */
/* stretch-----ელემენტები იჭიმებიან კონტეინერის საზღვრებამდე */