.black-block {
    background-color: black;
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;   /* ჰორიზონტალურად ცენტრში */
    align-items: center;       /* ვერტიკალურად ცენტრში */
    font-size: 20px;           /* საშუალო ზომის ტექსტი */
    text-align: center;
}