.line-button {
  position: relative;
  padding: 10px 20px 10px 30px; 
  font-size: 16px;
  cursor: pointer;
}

.line-button::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 4px;
  height: 100%;      
  background-color: red;
}