.underline-title {
  position: relative;
  display: inline-block; 
  font-size: 28px;
}

.underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;        
  width: 100%;
  height: 3px;      
  background-color: red;
}