.overlay-box {
  position: relative;
  width: 300px;
  height: 200px;
  background: url("https://via.placeholder.com/300x200") center / cover no-repeat;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.overlay-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.overlay-box p {
  position: relative;
  z-index: 1; 
}