.box {
  width: 300px;       
  height: 100px;
  background-color: #f2f2f2;
  position: relative;
  margin: 40px;
}

.box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #000;
  transform: translateY(-50%);
}