.btn {
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #222;
  color: #fff;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: #ffcc00;
  z-index: -1;
}