.text {
  position: relative;
  width: 300px;    
  margin: 50px auto;
}

.text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 25px);
  width: 50px;
  height: 6px;
  background-color: #000;
  margin-top: 10px;
}