/* 1) კომენტარების სახით ახსენით რა არის და რისთვის გამოიყენება ფსევდო კლასები.
2) ახსენი რას აკეთებს :hover().
3) შექმენი ღილაკი რომელიც კარგად იქნება გასტილული. შემდეგ როცა მომხმარებელი მაუსს მიიტანს მასზე შეეცვალოს ფონი და გახდეს წითელი. */

/* 1) ფსევდო კლასები გამოიყენება საიტის გასტილვისთვის, ისინი მთლიან საიტზე შეგვიძლია განვალაგოთ, ფსევდო კლასები არის მნიშვნელოვანი "ძალა" იმისთვის რომ საითი გავხადოთ უფრო რელევანტური */


/* 2) hover-ის მეშვეობით მაუსის მიტანის დროს იმ ელემენტზე, რომელსაც გავუწერთ hover-ს, შეიცვლის სტილს */

/* 3) */

#btn{
    width: 250px;
    height: 25px;
    transition: 1.5s;
}

#btn:hover{
    background-color: red;

}




/* VatoKheladze — 7:56 PM
7) შექმენი ღილაკი რომელიც ჯერ იზრდება hover-ით 2 ჯერ და შემდეგ როცა მომხმარებელი დააწკაპებს ღილაკს 0.5 წამში პატარავდება

.11) შექმენი input ველი, რომელიც focus მდგომარეობაში ოდნავ გადიდდება და იღებს რბილ ჩრდილს, რათა აშკარად გამოჩნდეს რომ მომხმარებელი სწორედ ამ ველში წერს.

16) შექმენი email input, რომელიც :valid მდგომარეობაში მიიღებს მწვანე ჩარჩოს, ხოლო :invalid მდგომარეობაში — წითელ ჩარჩოს.

19) შექმენი გვერდზე რამდენიმე სექცია. როდესაც მომხმარებელი დააწკაპებს შესაბამის ბმულს, მხოლოდ ის სექცია იქნება გამოჩენილი, დანარჩენები დამალული (:target-ით).


21) შექმენი სამი ელემენტი (h1, h2, h3). ერთი selector-ის გამოყენებით გამოიყენე საერთო ფერი, padding და border-radius :is()–ის დახმარებით. */




/* 7) */

#btn2{
    width: 200px;
    height: 20px;
    transition: 1s;
}

#btn2:hover{
    transform: scale(100);
}

#btn2:active{
    transform: scale(0.5);
}


/* 11) */


#inp1{
    width: 200px;
    height: 20px;
    transition: 1s;

}

#inp1:focus{
    border: 1px solid black;
    border-radius: 10px;
    outline: 1px solid black;
    width: 205px;
    height: 23px;
}

/* 16) */


#inp2{
    width: 250px;
    height: 25px;
    border: 2px solid black;
}

#inp2:valid{
    border:2px solid green;
}

#inp2:invalid{
    border: 2px solid red;
}

/* 19) */

section{
    border: 2px solid black;
}

section:target{
    background-color: green;
    border: 2px solid black;
}


/* 21) */


:is(h1,h2,h3){
    background-color: green;
    padding-top: 20px;
    border: 3px solid black;
}