/* 1)ვარსკვლავის ფორმის clip-path
პირობა:
შექმენით ყუთი (div) ზომით 200px x 200px. 
გამოიყენეთ clip-path, რომ ყუთი მიიღოს ვარსკვლავის ფორმა. */


.star {
    width: 200px;
    height: 200px;
    background-color: gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
