/* 4) შერეული – მრავალკუთხა + ცვლადი
პირობა:
შექმენით ყუთი (div) ზომით 250px x 250px.
გამოიყენეთ ცვლადი --main-color ფონისთვის
გამოიყენეთ clip-path, რომ ყუთი იყოს მრავალკუთხა (polygon) ფორმის
ცვლადის შეცვლისას ყუთის ფერი ავტომატურად შეიცვლება */


:root {
    --main-color: royalblue;
}

.polygon {
    width: 250px;
    height: 250px;
    background-color: var(--main-color);
    clip-path: polygon(
        50% 0%,
        85% 15%,
        100% 50%,
        85% 85%,
        50% 100%,
        15% 85%,
        0% 50%,
        15% 15%
    );
}